body {
    background-color: aquamarine;
}

header {
    height: 43px;
    background-color: blue;
}

figure {
    margin: 0;
}

.article-text {
    font-family: georgia,'times new roman',times,serif;
    font-size: 1.25rem;
    width: 600px;
}

.btn-icons {
    background-color: antiquewhite;
    display: inline-block;
    border-radius: 14px;
    width: 25px;
    height: 25px;
    text-align: center;
}

i {
    vertical-align: middle;
}

.article-thumbnails {
    display: inline-block;
    width: 273px;
    height: 182px;
}

.article-thumbnails img {
    width: 100%;
}



.nav-header svg {
    width: 185px;
}