
body {
  background-color: white;
  color: #333;
}

aside {
  margin: 300px 0;
}

footer {
  clear: both;
  border-top: 1px solid #000;
  position: fixed;
  width: 100%;
  height: 50px;
  line-height: 17px;
  bottom: 0;
  font-size: 15px;
  text-align: center;
  color: #000;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  background-color: #fff;
}

i {
  vertical-align: middle;
  color: gray;
}

.footer-note {
  position: relative;
  top: 15px;
}

.footer-more {
  float: right;
  margin-right: 300px;
}

#expand {
  margin-right: 10px;
  text-decoration: none;
  font-size: small;
  font-weight: 700;
  color: gray;
}

iframe {
  width: 560px;
  height: 315px;
}

button {
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 3px;
  display: inline-block;
  color: #fff;
  font-size: 11px;
  font-weight: bolder;
  letter-spacing: 0.05em;
  padding: 8px;
}

li {
  list-style: none;
  text-decoration: none;
}

.nav-bar {
  background-color: white;
  border-bottom: 1px solid #e2e2e2;
  z-index: 1;
}

.asides-contents {
  float: right;
  width: 210px;
  margin-left: 90px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.asides-contents h3 {
  font-weight: 700;
}

#editor-pick {
  position: relative;
  top: 250px;
  clear: both;
}

article {
  float: left;
}

.aside-divs {
  width: 100%;
  height: 600px;
}

.sign-up button {
  width: 100%;
  text-transform: uppercase;
}

.spoiler {
  color: rgb(51, 51, 51);
  width: 210px;
  height: 75px;
  font-size: 14px;
  line-height: 17px;
  vertical-align: center;
  margin: 10px 0;
}

.spoiler img {
  width: 75px;
  height: 75px;
  float: left;
  padding-right: 5px;
}

.paid-post {
  color: #121212;
  font-size: 12px;
  line-height: 15px;
}

figure {
  margin: 0;
}

.story {
  width: 600px;
  margin: 50px 0 50px 300px;
}

.author {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.article-date {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: small;
  font-weight: 500;
  margin-bottom: 30px;
  float: left;
}

.article-text {
  clear: both;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 1.25rem;
  width: 600px;
}

.btn-icons {
  background-color: antiquewhite;
  display: inline-block;
  border-radius: 14px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.article-thumbnails img {
  width: 100%;
}

.article-thumbnails a {
  display: inline-block;
  text-decoration: none;
  color: rgb(18, 18, 18);
  font-size: 1.125rem;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}

nav {
  background-color: #fff;
  top: 0;
  position: sticky;
  margin: auto;
  padding: 10px;
}

.main-photo {
  width: 800px;
}

.main-photo img {
  width: 1200px;
  height: 675px;
}

.main-content {
  margin: 0 auto;
  width: 1200px;
}

#article-container {
  width: 1200px;
}

.headline {
  font-style: italic;
  font-size: 41px;
  width: 600px;
  margin: 50px auto 25px;
  line-height: 51px;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
}

.pictures-articles a {
  height: 40px;
  margin: 10px 0;
  color: #000;
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-decoration: none;
}

.nav-bottom-item-menu a {
  display: inline-block;
  margin: 0 5px;
}

.nav-bottom-item a {
  text-decoration: none;
  font-size: 12px;
  color: rgb(102, 102, 102);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.nav-left a {
  color: #000;
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.7px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
}

.photo-caption {
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.photo-caption span {
  color: #888;
  font-size: 14px;
}

.photo-caption span a {
  text-decoration: none;
  color: gray;
}

.date-icons {
  display: block;
}

.social-icons {
  float: right;
}

.inflation-theory-header h1 {
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
  font-weight: 700;
  font-size: large;
}

.inflation-theory-header p {
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
  font-size: 16px;
}

.inflation-theory-container {
  width: 945px;
  margin: 15px 0;
  position: relative;
  right: 163px;
}

.inflation-theory-graphic {
  height: 576px;
  background: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png");
  background-size: 945px;
}

.inflation-theory-tab {
  float: left;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  padding-top: 130px;
  width: 25%;
}

.inflation-theory-tab p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  padding-left: 10px;
}

.inflation-theory-tab span {
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 17px;
  color: #000;
}

.inflation-theory-bottom {
  color: #333;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
}

.bicep2-photo {
  position: relative;
  right: 80px;
}

.bicep2-photo img {
  width: 720px;
}

.more-articles {
  clear: both;
}

.more-in-space {
  width: 852px;
  border-top: 1px solid rgb(0, 0, 0);
  padding-top: 15px;
}

.more-in-space h3 {
  padding-bottom: 20px;
  margin: 0;
}

.pictures-articles {
  clear: both;
}

.article-thumbnails {
  float: left;
  width: 270px;
  height: 297px;
  margin: 10px 10px 0 0;
}

.editors-pics {
  clear: both;
  height: 371px;
  border-top: 1px solid black;
  padding-top: 20px;
}

.thumbnail-pic {
  font-size: 0.625rem;
  text-align: right;
  color: rgb(153, 153, 153);
}

.most-popular {
  padding-top: 15px;
  height: 500px;
  width: 25%;
  float: right;
  border-top: 1px solid rgb(0, 0, 0);
}

.most-popular h3 {
  margin: 0;
}

.division-spoilers {
  border-bottom:
    1px solid
    rgb(226, 226, 226);
  padding-bottom: 20px;
}

.nav-bottom {
  clear: both;
  width: 100%;
  margin-bottom: 61px;
  border-top: 4px double grey;
}

.nav-bottom-item {
  width: 100%;
  align-items: center;
  margin: auto;
}

.nav-bottom-item-menu {
  width: 1100px;
  margin-top: 15px;
}

.bottom-menu-items li a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.nav-bottom-item a:hover {
  text-decoration: underline;
}

.pictures-articles a:hover {
  text-decoration: underline;
}

.anchor-right {
  float: right;
  text-decoration: none;
  color: rgb(86, 123, 149);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.nav-left {
  float: left;
  width: 225px;
}

.nav-left a:hover {
  text-decoration: underline;
}

.nav-right {
  float: right;
  margin-top: -35px;
}

.nav-mid {
  margin: auto;
}

.svg {
  width: 185px;
}

.bottom-menu-container {
  border-bottom: 1px solid rgb(226, 226, 226);
  text-transform: capitalize;
  text-align: left;
  width: 100%;
  color: #000;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
}

.bottom-menu-items {
  clear: both;
  display: inline-block;
  width: 190px;
  text-align: left;
  vertical-align: top;
  padding-right: 20px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.list-header {
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

.bottom-menu-items li a:hover {
  text-decoration: underline;
}

.bottom-menu-items ul {
  padding: 0;
}

.bottom-menu-items-right {
  border-left: 1px solid rgb(226, 226, 226);
  padding-left: 15px;
}

/* #endregion */

hr {
  border: 0.2px solid rgb(226, 226, 226);
}
